body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;

    .upload-form {
        margin: 20px auto;
        width: 300px;
        padding: 30px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}
